
@*
text-aligne information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout2";
}



 <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
                <h1 style="text-align:center">Yetki Bulunamadı</h1>
             <p style="text-align:center">Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
             <a class="nav-link text-dark" style="text-align:center; background-color:cornflowerblue;" asp-area="" asp-controller="Home" asp-action="Logout">Anasayfaya dön.</a>
      </div>

    
      </div>
    </div>
  </div>
</section>